@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  width: 80rem;
  margin: 0 auto;
  background-color: #2b2922;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 16vh;
  align-items: center;
}

.navbar .logo {
  width: 120px;
}
.navbar .list {
  display: flex;
  list-style-type: none;
  color: #b7a573;
  align-items: center;
  font-size: 17px;
}
.navbar .list .list-item {
  margin-right: 40px;
}

.navbar .list .list-item:first-child {
  color: #ffffff;
}
.navbar .list .list-item:hover:not(:first-child) {
  color: #ffffff;
}
.navbar .list-item-btn {
  padding: 15px 20px;
  background-color: #2b2922;
  border: 1px solid #a77b06;
  color: #a77b06;
  border-radius: 10px;
  font-size: 20px;
}

.navbar .list-item-btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  transform: scale(1.05);
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  align-items: center;
}

.hero .hero-left {
  font-size: 3rem;
  font-family: "monospace";
  color: #ffffff;
}

.hero .hero-right {
  font-size: 24px;
  color: #e3d9be;
}
.banner-container img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100rem;
  margin: 0 -10rem;
}
